.sideDiv {
  .ant-card {
    margin-bottom: 0;
  }
}

.searchResult {
  flex: 0 0 100%;
  padding: 10px;

  .searchText {
    font-weight: 500;
    background: url(http://weblionmedia.net/com/sparrow-html/img/result-icon.png)
      left top no-repeat;
    background-position: left 2px;
    padding: 0px 0px 0px 20px;
  }
  .ant-card-body {
    padding: 12px;
  }
}
.priceRangeDiv {
  flex: 0 0 100%;
  padding: 10px;
}
.FlightsSearchDiv {
  flex: 0 0 100%;
  padding: 10px;

  .InputBtn {
    margin-top: 10px;
    background-color: #038fdd;
  }
  .ant-card-body {
    padding: 13px;
  }
}

label {
  font-weight: 500;
  font-size: 12px;
}

.priceRange {
  display: flex;
  justify-content: space-between;
}
.AirlinesOptions {
  flex: 0 0 100%;
  padding: 10px;

  .AirlineInputs {
    display: flex;
    flex-flow: row wrap;
    margin-top: 8px;

    .card {
      flex: 0 0 100%;
      padding: 5px;
    }
  }
}

.FlightTypeDiv {
  flex: 0 0 100%;
  padding: 10px;

  .FlightTypeOptions {
    display: flex;
    flex-flow: row wrap;
    margin-top: 8px;

    .card {
      flex: 0 0 100%;
      padding: 5px;
    }
  }
}

.flightTimeDiv {
  flex: 0 0 100%;
  padding: 10px;

  .deptTimeHeading {
    margin: 5px 0px 11px 0px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4a90a4;
  }
}

.rightDiv {
  .ant-card {
    margin-bottom: 0;
  }
}

.filterResult {
  flex: 0 0 100%;
  padding: 6px;

  .filterInput {
    display: flex;
    flex-wrap: wrap;
  }
  .searchText {
    flex-basis: auto;
    padding: 2px;
    text-transform: uppercase;
  }
  label {
    margin: 16px 6px 11px 5px;
  }

  .ant-card-body {
    padding: 12px;
  }
}

.FlightsTimmings {
  flex: 0 0 100%;
  padding: 10px;
}

.alt-flight {
  padding: 10px;
  flex: 0 0 100%;
}
.alt-flight-a {
  width: 100%;
  float: left;
}
.alt-flight-l {
  margin: 0px 135px 0px 0px;
}
.alt-flight-lb {
  width: 100%;
  float: left;
  overflow: hidden;
}
.alt-center {
  width: 100%;
  float: left;
}
.alt-center-l {
  width: 161px;
  float: left;
  overflow: hidden;
}
.alt-center-lp {
  padding: 18px 0px 18px 18px;
}
.alt-logo a {
  display: table-cell;
  width: 161px;
  height: 112px;
  background: #f7f9fa;
  text-align: center;
  vertical-align: middle;
}
.alt-logo {
  display: table;
}
.alt-center-c {
  margin: 0px 0px 0px 161px;
}
.alt-center-cb {
  width: 100%;
  float: left;
  overflow: hidden;
}
.alt-center-cp {
  padding: 27px 0px 30px 18px;
  border-right: 1px solid #ede7e1;
}
.alt-lbl {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #4c4c4c;
}
.alt-info {
  font-weight: 500;
  color: #747d7e;
  font-size: 10px;
  text-transform: uppercase;
}
.alt-info b {
  font-weight: bold;
  color: #4a90a4;
  margin-right: 6px;
}
.alt-devider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #ede7e1;
  margin: 11px 0px 13px 0px;
}
.flight-line-b {
  float: right;
  margin-top: -3px;
  line-height: 16px;
}
.flight-line-b b {
  cursor: pointer;
  display: block;
  background: url(http://weblionmedia.net/com/sparrow-html/img/details-icon.png)
    right top no-repeat;
  background-position: right 6px;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 600;
  color: #4d4d4d;
}
.flight-line-b b.open {
  cursor: pointer;
  display: block;
  background-position: right 6px;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 600;
}
.flight-line-b .ui-slider-handle {
  outline: none !important;
}
.flight-line-b span {
  font-weight: 500;
  color: #ff0000;
  font-size: 13px;
}
.alt-center-c .flight-line-b {
  line-height: 15px;
  margin-top: -1px;
  margin-right: 32px;
}
.alt-departure {
  background: url(http://weblionmedia.net/com/sparrow-html/img/alt-depart.png)
    left center no-repeat;
  margin-right: 26px;
  padding: 0px 0px 0px 23px;
}
.alt-data-i b {
  display: block;
  font-weight: 600px;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 12px;
  color: #848484;
}
.alt-data-i span {
  font-weight: bold;
  font-size: 15px;
  color: #4a90a4;
}
.alt-data-i {
  line-height: 12px;
  float: left;
}
.alt-arrival {
  background: url(http://weblionmedia.net/com/sparrow-html/img/alt-return.png)
    left center no-repeat;
  margin-right: 27px;
  padding: 0px 0px 0px 23px;
}
.alt-time {
  background: url(http://weblionmedia.net/com/sparrow-html/img/alt-time.png)
    left center no-repeat;
  margin-right: 20px;
  padding: 0px 0px 0px 23px;
}
.clear {
  clear: both;
}
.alt-flight-lr {
  width: 135px;
  float: left;
  overflow: hidden;
  margin: 0 0 0 -135px;
}
.alt-flight-lr .padding {
  padding: 29px 0px 10px 18px;
}
.alt-flight .flt-i-price {
  font-weight: 500;
}
.flt-i-price {
  margin-bottom: 4px;
  line-height: 23px;
  font-weight: normal;
  font-size: 20px;
  color: #ff7200;
}
.flt-i-price-b {
  margin-bottom: 8px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  color: #939393;
}
.alt-flight .alt-flight-lr .cat-list-btn {
  text-align: center;
  width: 97px;
  padding-left: 0px;
  padding-right: 0px;
}
.cat-list-btn {
  display: inline-block;
  font-weight: normal;
  background: #fff;
  padding: 9px 15px 9px 15px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  text-decoration: none;
  color: #838383;
  font-size: 10px;
  text-transform: uppercase;
}
.alt-details-i {
  float: left;
  margin-right: 70px;
  font-weight: 600;
}

// ticket information class work starts here.
label {
  font-size: 12px;
}

.ticketMainInform {
  flex: 0 0 100%;
  padding: 10px;
}

.ticketDetail {
  display: flex;
  flex-wrap: wrap;
  .ticketInfo {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    .ticketLogo {
      width: 140px;
      height: 110px;
      margin-right: 20px;
      a {
        background-color: #f7f9fa;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img {
          max-width: 100%;
          object-fit: contain;
        }
      }
    }
    .ticketDetInfo {
      flex: 1;
      .tripInfo {
        border-bottom: 1px solid #ede7e1;
        margin-bottom: 10px;
        h2 {
          font-weight: normal;
          text-transform: uppercase;
          margin-bottom: 5px;
          color: #4c4c4c;
          font-size: 18px;
        }
        p {
          font-weight: 500;
          color: #747d7e;
          font-size: 13px;
          text-transform: uppercase;
          .schedules {
            font-weight: bold;
            color: #4a90a4;
            margin-right: 6px;
          }
        }
      }

      .departureDetails {
        .totalDepInfo {
          display: flex;
          .departureMainWrp {
            display: flex;
          }

          .seats {
            padding: 0 10px;
            b {
              cursor: pointer;
              display: block;
              //background: url(../img/details-icon.png) right top no-repeat;
              background-position: right 6px;
              font-size: 11px;
              font-weight: normal;
              text-transform: uppercase;
              font-weight: 600;
              color: #4d4d4d;
            }
            span {
              font-weight: 500;
              color: #ff0000;
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .ticketPrice {
    width: 135px;
    padding: 0 0 0 20px;
    border-left: 1px solid #ede7e1;
  }
}
